<div id="panel-container">
  <div id="left-panel">
    <img id="logo" src="../assets/logo.png" alt="" />
  </div>
  <div id="right-panel">
    <h1>Login</h1>
    <div class="form-item">
      <label for="username">Username</label>
      <input [(ngModel)]="username" id="username" type="text" name="username" />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        id="password"
        type="password"
        name="password"
      />
    </div>
    <button class="submit" (click)="handleSubmit()">Login</button>
  </div>
</div>
