.home-container {
  display: flex;
  flex-direction: column;
  padding: 120px;

  input {
    padding: 8px 32px;
  }

  .section {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    table {
      width: 100%;
      border-collapse: collapse;

      td,
      th {
        border: 1px solid black;
        padding: 12px;
        text-align: center;
      }
    }
  }
}
